{% extends 'base.html' %}
{% block content %}
<h1>Add a new Transaction</h1>
<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <table>
        <thead>
            <tr>
                {% for f in form %}
                <th>{{ f.label_tag }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {{ form.account_id }}
                    {{ form.account_id.errors }}
                </td>
                <td>
                    {{ form.credit_amount }}
                    {{ form.credit_amount.errors }}
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <button type="submit">Save</button>
    </div>
</form>
{% endblock %}