{% extends "base.html" %}
{% block content %}
<div style="display: flex; flex-direction: row; justify-content: space-evenly;">
    <div>
        <!-- <h1>Accounts</h1>
        <ul>
            {% for a in account_list %}
            <a href="/account/{{ a.id }}">
                <li>{{ a.number }} - {{ a.name }}</li>
            </a>
            {% empty %}
            <li>No accounts yet.</li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h2>Add Account</h2>
        <form method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <div>
                <button type="submit">Save</button>
            </div>
        </form> -->
        <p>{{ account.number }} - {{ account.name }} </p>
        <h2>{{ account.name.upper }} Details</h2>
        <div>
            {{ table }}
        </div>
    </div>
</div>
{% endblock %}